* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

/* registration form */

.regbody {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.855), rgba(255, 255, 255, 0.855)), url(./images/login-background.png);
    background-size: cover;
}

.regFormContainer {
    width: 32%;
    margin: 2.2rem auto;
    border-radius: .6rem;
    box-shadow: rgba(0, 0, 0, 0.40) 0rem .3rem .8rem;
    background-color: white;
}

.regHeaderContainer {
    padding: 1rem 2rem;
    width: 100%;
}

.regTitleWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regTitle {
    font-size: 3rem;
    font-weight: 600;
}

.regClose {
    font-size: 2.4rem;
    color: gray;
    cursor: pointer;
}

.regHrLine {
    border: .1rem solid lightgray;
}

.regSubtitle {
    font-size: 1.6rem;
    color: gray;
    margin-top: .4rem;
}

.regmainsectionContainer {
    width: 100%;
    padding: 2rem;
}

.regMainFormWrap {
    width: 100%;
}

.RegInput {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.4rem;
    border: .1rem solid lightgray;
    border-radius: .6rem;
    outline: none;
    font-size: 1.4rem;
    background-color: #f5f6f7;
}

.regFP {
    font-size: 1.1rem;
    color: gray;
    margin-top: 1.2rem;
}

.RegLinks {
    color: #385898;
    cursor: pointer;
}

.RegLinks:hover {
    border-bottom: .1rem solid #385898;
}

.regSignUpBtn {
    display: block;
    margin: auto;
    border: none;
    outline: none;
    font-size: 1.8rem;
    padding: .7rem 5rem;
    background-color: #00a400;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: .6rem;
    margin-top: 1rem;
}

.BirhWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .4rem;
    margin-bottom: 1.4rem;
}

.bdateOpt {
    width: 30%;
    padding: .6rem;
    border: .1rem solid lightgray;
    outline: none;
    border-radius: .5rem;
}

.regMonthWrapper {
    width: 30%;
    padding: .6rem;
    border: .1rem solid lightgray;
    outline: none;
    border-radius: .5rem;
}

.regYearWrapper {
    width: 30%;
    padding: .6rem;
    border: .1rem solid lightgray;
    outline: none;
    border-radius: .5rem;
}

.rehFHead {
    font-size: 1.2rem;
    color: gray;
}

.regGWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gwrap {
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding: .8rem;
    border: .1rem solid lightgray;
    border-radius: .5rem;
    font-size: 1.4rem;
    color: #1c1e21;
}

.gwrap input {
    accent-color: #1877f2;
}


/* login form */

.loginbody {
    background-color: #f0f2f5;
}

.loginFormContainer {
    width: 80%;
    margin: 7rem auto 0 auto;
    /* border: .1rem solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftSideWrap {
    width: 55%;
    /* border: .1rem solid blue; */
    padding: 0 4rem 0 0;

}

.loginFbImagwrap {
    width: 45%;
}

.loginFbImagwrap img {
    width: 100%;
    height: 100%;
}

.loginSuctitle {
    font-size: 2.7rem;
    margin-top: 1.5rem;
    letter-spacing: .04rem;
}

.rightsideWrap {
    width: 42%;
    /* border: .1rem solid green; */
    padding: 8rem 2rem 0 2rem;
}

.loginMainForm {
    width: 100%;
    border-radius: .6rem;
    box-shadow: rgba(0, 0, 0, 0.40) 0rem .3rem .8rem;
    background-color: white;
    padding: 2rem 2rem 2rem 2rem;
}

.loginInput {
    width: 100%;
    padding: 1rem 2rem;
    border: .1rem solid lightgray;
    outline: none;
    font-size: 1.6rem;
    border-radius: .5rem;
    margin-bottom: 1.4rem;
}

.loginBtn {
    width: 100%;
    background-color: #1877f2;
    border: none;
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.forgetpassword {
    font-size: 1.4rem;
    margin: 1.4rem;
    color: #1877f2;
    text-align: center;
}

.createAcBtn {
    display: block;
    margin: auto;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    background-color: #42b72a;
    border: none;
    outline: none;
    border-radius: .5rem;
    margin-top: 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.FormBLine {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2.5rem;
}

.loginHighlightTxt {
    font-weight: 550;
    cursor: pointer;
}

.loginHighlightTxt:hover {
    border-bottom: .1rem solid black;
}

.loginMainForm input[type=email]:focus {
    border: .1rem solid #1877f2;
    box-shadow: rgba(31, 163, 250, 0.427) 0rem .1rem .20rem;

}

.loginMainForm input[type=password]:focus {
    border: .1rem solid #1877f2;
    box-shadow: rgba(31, 163, 250, 0.427) 0rem .1rem .20rem;

}



/* Home page----------- */

.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: .2rem solid red; */
    padding: .8rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    background-color: white;
}

.leftNavbar {
    width: 24%;
    /* border: .1rem solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 .8rem;
}

.middleNavbar {
    width: 38%;
    /* border: .1rem solid palegreen; */

}

.rightNavbar {
    width: 28%;
    /* border: .1rem solid purple; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 .8rem;
}

.FbLogoIcWrapper {
    width: 13%;
}

.FbLogoIcWrapper img {
    width: 100%;
    height: 100%;
}

.searchBarWrapper {
    width: 75%;
    /* border: .1rem solid peru; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f2f5;
    padding: 1rem;
    border-radius: 2rem;
}

.sicon {
    width: 10%;
    font-size: 1.4rem;
    color: gray;
}

.searchInput {
    width: 88%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.4rem;

}

.middleContentIcons {
    font-size: 2.2rem;
    color: gray;
    cursor: pointer;
}

.middleIconsContainer {
    /* border: .1rem solid navy; */
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightsideTxt {
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 1.8rem;
    background-color: #f0f2f5;
    cursor: pointer;
}

.rightsideTxt:hover {
    background-color: #e1e3e7;
}

.rightsideicons {
    font-size: 2rem;
    padding: .8rem 1.2rem;
    border-radius: 100%;
    background-color: #f0f2f5;
    cursor: pointer;
}

.rightsideicons:hover {
    background-color: #e1e3e7;

}

.rightsideuserImage {
    width: 12%;
}

.rightsideuserImage img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: .1rem solid lightgray;
    cursor: pointer;
}

.activeIcon {
    color: #1877f2;
}


/* main content------------------------------- */

.mainContentContainer {
    /* border: .1rem solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #f0f2f5;
    margin-top: 5%;
    padding: .5rem 1.6rem;
}

.leftsideMenusWrapper {
    width: 20%;
    /* border: .1rem solid rgb(0, 255, 110); */
    position: fixed;
    left: 0;
    background-color: transparent;
    padding: 0 1.8rem;

}

.middleSidePostContainer {
    /* border: .2rem solid black; */
    width: 48%;
    margin-left: 25%;
    padding: 1rem 2rem;
}

.rightSideContentWrapper {
    width: 25%;
    /* border: .1rem solid rgb(0, 191, 255); */
    position: fixed;
    right: 0;
}

.leftPostContentWrap {
    /* border: .1rem solid rgb(255, 0, 162); */
    padding: 0 2rem;
}

.rightContactWrap {
    /* border: .1rem solid peru; */
    padding: 1.4rem 1.5rem;
}

.sideNavLinkWrap {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    cursor: pointer;
    padding: .8rem;
    border-radius: 1rem;
    margin-bottom: .2rem;
}

.sideNavLinkWrap:hover {
    background-color: rgba(224, 224, 224, 0.914);
}

.sideNavImgwrap {
    width: 13%;
}

.sideNavImgwrap img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.sideNavName {
    font-size: 1.5rem;
    font-weight: 550;
    letter-spacing: .01rem;
}

.welcomefb {
    padding: .2rem;
}

.sermorewrap {
    background-color: rgb(224, 224, 224);
    text-align: center;
    padding: .5rem .7rem;
    font-size: 1rem;
    border-radius: 100%;
}

.storiesReelWrapper {
    /* border: .1rem solid palegreen; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .8rem;
}

.topStoryReelHeadSection {
    border-bottom: .1rem solid lightgray;
    padding: 1.4rem;
}

.storywarp {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    justify-content: center;
    gap: 1.2rem;
}

.strIcons {
    font-size: 1.8rem;
    color: #1877f2;
}

.strName {
    font-weight: 550;
    color: #1877f2;

}

.mainSTRContainer {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.storyContent {
    width: 23%;
    border: .1rem solid lightgray;
    border-radius: .5rem;
    height: 16rem;
}

.whatInmindwrapper {
    padding: 1.5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .8rem;
    margin-top: 2rem;

}

.whatTopSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.whimagwrapper {
    width: 9%;

}

.whimagwrapper img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: .1rem solid lightgray;
}

.whatInMindinputWrap {
    width: 88%;

}

.whnInput {
    border: none;
    outline: none;
    background-color: #f0f2f5;
    padding: 1rem 2rem;
    border-radius: 2rem;
    width: 100%;
    font-size: 1.6rem;
}

.whMHrline {
    border: .1rem solid lightgray;
    margin: 1rem 0;
}

.WIMBottomsection {
    /* border: .1rem solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
}

.WHmIContentWrap {
    width: 28%;
    display: flex;
    align-items: center;
    /* border: .1rem solid rgb(164, 112, 216); */
    justify-content: space-between;
    cursor: pointer;
}

.WHMImgConatiner {
    width: 15%;
}

.WHMImgConatiner img {
    width: 100%;
    height: 100%;
}

.WHMTxtName {
    width: 80%;
    font-size: 1.6rem;
    font-weight: 500;
    color: gray;

}

.PostSectionContainer {
    /* padding: 1.5rem; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .8rem;
    margin-top: 2rem;
}

.postHederSection {
    padding: 1rem 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.UserpfImageWrap {
    width: 9%;
}

.UserpfImageWrap img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: .1rem solid lightgray;
    aspect-ratio: 3/3;
    object-fit: cover;

}

.UserPostnameHrWrap {
    width: 72%;
}

.userPostname {
    font-size: 1.6rem;
    font-weight: 550;
    margin-bottom: .4rem;

}

.PostHr {
    font-size: 1.4rem;
    color: gray;
}

.rightUPostOptions {
    width: 12%;
    font-size: 2.2rem;
    color: gray;
    display: flex;
    justify-content: space-between;
}

.rightMenusectionWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.rightRMenuWrap {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: .1rem solid blueviolet; */
}

.rmenus {
    font-weight: 550;
}

.rightUsersContainer {
    /* border: .1rem solid red; */
    margin-top: 1.4rem;
    font-size: 1.4rem;
}

.userProfileContainer {
    width: 100%;
    /* border: .1rem solid lawngreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.userpImagWrap {
    width: 12%;
}

.userpImagWrap img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: .1rem solid lightgray;
}

.userpname {
    width: 85%;
    font-weight: 550;
}

.HomeMainPostDesc {
    padding: 1rem 1.4rem;
}

.HPostDecs {
    font-size: 1.4rem;
}

.mainPostWraper {
    width: 100%;
    /* border: .1rem solid lightgray; */
    margin: .5rem 0;
}

.MainPostImageWrap {
    width: 100%;
}

.MainPostImageWrap img {
    width: 100%;
    height: 100%;
}

.MainPostHrLine {
    border: .1rem solid lightgray;
    /* margin: 1rem 0; */
}

.LikeCommSharWrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1.4rem;
}

.LCSWrapper {
    /* border: .1rem solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.LCSText {
    width: 80%;
    font-size: 1.5rem;
    color: grey;
    font-weight: 550;
}

.LCSIcons {
    width: 15%;
    font-size: 2rem;
    color: gray;
}

#logout {
    display: flex;
    gap: 1.2rem;
}


/* add post popup----------------------------- */

#AddPostOverlay {
    position: fixed;
    display: none;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    background-color: rgba(248, 246, 246, 0.744);
    z-index: 2;
    cursor: pointer;
    height: 100vh;
}

.addPostForm {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 8px;
    background-color: #fff;
    border-radius: 1rem;
    margin: 14rem auto;
}

.APHeader {
    display: flex;
    padding: 1.5rem;
    border-bottom: .1rem solid lightgray;
}

.addPostTitle {
    width: 90%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 550;
}

.CloseBtn {
    width: 10%;
    text-align: right;
}

.CloseBtn i {
    font-size: 2.2rem;
    color: lightgray;
    cursor: pointer;

}

.AddpostMainForm {
    width: 100%;
    padding: 1.5rem 2rem;
}

.APInputField {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    border: .1rem solid lightgray;
    outline: none;
    border-radius: 1rem;
    margin-bottom: 1.4rem;
}

.HomeAddPostBTN {
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #1877f2;
    color: white;
    cursor: pointer;
    font-weight: 550;
}

/* ------------dropdown Menu of user Profile On Home Page------------ */

#divMsg {
    background-color: white;
    /* height: 400px;  */
    width: 25%;
    padding: 1.4rem;
    display: none;
    position: fixed;
    z-index: 2;
    right: 1.4rem;
    top: 6.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1rem;
    margin-top: 1rem;
}

.dropdownProfileShortwrap {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 1.4rem;
    border-radius: 1rem;
    margin-bottom: 1.6rem;

}

.drImgNameContainer {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.pdImagewarpper {
    width: 14%;
    border-radius: 100%;

}

.pdImagewarpper img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    aspect-ratio: 3/3;
    object-fit: cover;
}

.dpUserName {
    width: 80%;
    font-size: 1.6rem;
    font-weight: 550;
}
.dpMENUContainer{
    /* margin-top: 1.4rem; */
    cursor: pointer;
    padding: 1rem;
}
.dpMENUContainer:hover{
    background-color:#f0f2f5;
}
.dpbottomMenuWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dpBMIconWrap{
    width: 13%;
    text-align: center;
    background-color: #e1e3e7;
    border-radius: 100%;
}
.dpBMIconWrap i{
    font-size: 2rem;
    padding: .8rem;
}
.DpBMname{
    width: 80%;
    /* border: .1rem solid blue; */
    font-size: 1.6rem;
}
























